@import url("colors.css");

.question {
    margin-top: 2em;
    box-shadow: 2px 6px 10px 2px rgba(0,0,0,0.2);
    border-radius: 0.5em;
    min-height: 100px;
}
.question-container {
    width: 100%;

    display: flex;
    text-align: center;
    justify-content: center;
}
.input-label-custom {
    position: relative;
    margin-top: 0.2em;
    font-size: 1.5em;
}
.input-custom {
    width: 90%;
    height: 2em;
}

.answers {
    margin-top: 2em;
    margin-left: 2em;
}
.answer {
    width: 80%;

    display: flex;
    text-align: center;
    justify-content: center;
}
.answer-label {
    font-size: 1.5em;
    margin-right: 0.5em;
    margin-top: -0.1em;
}

.table-custom {
    margin-top: 3em;
    margin-bottom: 1em;
}
.table-custom tr {
    border: 0.1em solid var(--background-color);
    border-right: none;
    border-left: none;
    box-shadow: 2px 6px 10px 2px rgba(0,0,0,0.2);
}
.table-custom th {
    background-color: var(--primary-color);
    color: var(--light-secondary-color);
}
.table-custom td {
    padding-top: 1.1em;

    background-color: rgba(0, 0, 0, 0);
    color: var(--light-primary-color);
}

.dropdown-button {
    color: var(--light-primary-color);
}

.trash {
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-top: -0.01em;
    color: var(--light-primary-color);
}
.trash:hover, .page-link:hover {
    color: var(--color-surface-600);
    cursor: pointer;
}

.page-link {
    color: var(--light-primary-color);
}
.disabled-link {
    color: var(--background-color);
    text-decoration: none;
}
