@import url("colors.css");

.question {
    margin-top: 2em;
    box-shadow: 2px 6px 10px 2px rgba(0,0,0,0.2);
    border-radius: 0.5em;
    min-height: 100px;
}
.question-container {
    width: 100%;

    display: flex;
    text-align: center;
    justify-content: center;
}
.input-label-custom {
    position: relative;
    margin-top: 0.2em;
    font-size: 1.5em;
}
.input-custom {
    width: 90%;
    height: 2em;
}

.answers {
    margin-top: 2em;
    margin-left: 2em;
}
.answer {
    width: 80%;

    display: flex;
    text-align: center;
    justify-content: center;
}
.answer-label {
    font-size: 1.5em;
    margin-right: 0.5em;
    margin-top: -0.1em;
}

.table-custom {
    margin-top: 3em;
    margin-bottom: 1em;
}
.table-custom tr {
    border: 0.1em solid var(--background-color);
    border-right: none;
    border-left: none;
    box-shadow: 2px 6px 10px 2px rgba(0,0,0,0.2);
}
.table-custom th {
    background-color: var(--primary-color);
    color: var(--light-secondary-color);
}
.table-custom td {
    padding-top: 1.1em;

    background-color: rgba(0, 0, 0, 0);
    color: var(--light-primary-color);
}
.table-custom-pointer-tr {
    cursor: pointer;
}

.dropdown-button {
    color: var(--light-primary-color);
}

.icon_link {
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-top: -0.01em;
    color: var(--light-primary-color);
}
.icon_link:hover, .page-link:hover, .code:hover {
    color: var(--color-surface-600);
    cursor: pointer;
}
.code:focus {
    color: var(--primary-color);
}

.page-link {
    color: var(--light-primary-color);
}
.disabled-link {
    color: var(--background-color);
    text-decoration: none;
}

.solve-form {
    display: block;
    justify-content: center;
    text-align: center;
    align-content: center;
}
.solve-title {
    margin-top: 2em;
}
.multiple-choices {
    margin-top: 2em;
}
.multiple-choice {
    margin-top: -1em;
}

.results-container {
    margin-top: 12em;
    margin-bottom: 12em;
    height: 10em;
    max-width: 30em;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1em;

    display: grid;
    place-content: center;
}
.score {
    display: flex;
    text-align: center;
    justify-content: center;
}


.search-bar {
    border: none;
    background-color: var(--secondary-color);
    color: var(--light-primary-color);
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 0.7em 0em 0em 0.7em;
}
.search-bar:focus {
    background-color: var(--secondary-color);
    color: var(--light-primary-color);
    padding-left: 3em;
    margin-right: 0.15rem;
}
#search-icon { margin-top: -0.2em; }
.inner-addon {
    position: relative;
    display: inline-flex;
}
.inner-addon .bi {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.left-addon #search-icon  { left:  0px;}
.right-addon #search-icon { right: 0px;}
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.bi-search { animation: fade1 0.5s linear; }
.bi-chevron-compact-right { animation: fade2 0.5s linear; }
@keyframes fade1 {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fade2 {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.search-form {
    display: inline-flex;
}
.search-form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: var(--background-color);
    color: var(--light-primary-color);
    font-size: 17px;
    cursor: pointer;
}
.search-form button:hover {
    background: var(--primary-color);
}
.search-button {
    border-radius: 0em 0.7em 0.7em 0em;
    cursor: pointer;
}
.search-button-icon {
    margin-top: -1.25em;
    margin-left: -1.1em;
}