<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:x-transition="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Quiz</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css"/>
    <link rel="stylesheet" th:href="@{/css/quiz.css}" href="../../static/css/quiz.css"/>

    <script type="text/javascript" src="../../static/js/quiz_create.js" th:src="@{/js/quiz_create.js}"></script>
</head>
<body>

    <nav class="navbar-custom" th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="container">
        <form th:action="@{'/quizzes/' + ${quiz.getId()} + '/editing'}" method="get">
            <div class="form-group">
                <label for="title"><h2>Title</h2></label>
                <input th:value="${quiz.getTitle()}" class="form-control" id="title" placeholder="Write your quiz title here..." type="text" name="title">
            </div>

            <div id="newQuestion">
                <div class="question" id="question" style="display: none;">
                    <label class="input-label-custom">Question Title</label>
                    <a class="icon_link" onclick="trash(this)"><i class="bi bi-trash-fill"></i></a>
                    <div class="d-flex flex-row question-container">
                        <input class="form-control input-custom" placeholder="Question..." type="text">
                    </div>

                    <div>
                        <div class="container answers" id="newAnswer">
                            <div class="answer" id="answer" style="display: none;">
                                <p class="answer-label"></p>
                                <div class="form-check answer-label">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" >
                                </div>
                                <input class="form-control input-custom" placeholder="Multiple choice answer..." type="text">
                                <a class="icon_link" onclick="trashAnswer(this)"><i class="bi bi-trash-fill"></i></a>
                            </div>
                        </div>

                        <div class="container">
                            <button class="btn btn-secondary add-answer" onclick="addAnswer(this)" type="button">+</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <button class="btn btn-secondary add-answer" onclick="addQuestion()" type="button">+</button>
            </div>

            <div class="container">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>

    <footer class="navbar-custom" th:replace="~{fragments/footer :: footer}"></footer>

    <script th:inline="javascript">
        /*<![CDATA[*/

        window.onload = function() {
            let q1 = "";
            let plusButton;
            let mc1 = "";
            /*[# th:each="question, i: ${quiz.getSortedQuestions()}"]*/
                q1 = addQuestion();
                q1.value = [[${question.getQuestion()}]];

                plusButton = q1.parentNode.parentNode.lastElementChild.lastElementChild.firstElementChild;
                /*[# th:each="choice, j: ${question.getSortedMultipleChoices()}"]*/
                    mc1 = addAnswer(plusButton);
                    mc1.value = [[${choice.getChoice()}]];
                /*[/]*/
            /*[/]*/
        };

        /*]]>*/
    </script>

</body>
</html>