<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:x-transition="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <th:block th:replace="~{fragments/navbar :: headerfiles}"></th:block>

    <link rel="stylesheet" th:href="@{/css/application.css}" href="../static/css/application.css"/>

</head>
<body>
    <nav class="navbar-custom" th:replace="~{fragments/navbar :: navbar}"></nav>

    <div id="banner">
        <H2>Create or Solve</H2>
        <H1>Quizzes,</H1>
        <h4>with a few simple clicks from anywhere.</h4>
    </div>

    <div id="services">
        <div class="centered">
            <section class="cards">
                <div class="card">
                    <div class="container">
                        <img src="create.png" alt="Create" style="width:100%">
                        <h1><b>Create Quiz</b></h1>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <img src="solve.png" alt="Solve" style="width:100%">
                        <h1><b>Solve</b></h1>
                    </div>
                </div>
            </section>
        </div>
    </div>

</body>
</html>