<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:x-transition="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <th:block th:replace="fragments/navbar :: headerfiles"></th:block>
</head>
<body>
  <form id="login_form" action="#" th:action="@{/users/login}" method="post" th:object="${newUser}">
    <!-- Username input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input class="form-control" type="text" placeholder="Username" id="username" th:field="*{username}" name="username" maxlength="15" th:maxlength="15" required />
      <label class="form-label" for="username">Username</label>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input class="form-control" type="password" placeholder="Password" id="password" th:field="*{password}" name="password" maxlength="25" th:maxlength="25" required />
      <label class="form-label" for="password">Password</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
          <label class="form-check-label" for="form2Example31"> Remember me </label>
        </div>
      </div>

      <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
      </div>
    </div>

    <!-- Submit button -->
    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>

    <!-- Register buttons -->
    <div class="text-center">
      <p>Not a member? <a href="#!">Register</a></p>
    </div>
  </form>
</body>
</html>